obj
bin
packages
_ReSharper.*
*.pdb
*.user
*.suo
*.vshost.exe*
Thumbs.db
website/App_Data/.app-cache/*
website/App_Data/Cache/*
website/App_Data/Content/*
website/App_Data/Uploads/*
website/App_Data/Logs/*
Publish/*
website/kerst2008/*
website/kerst2009/*
website/kerst2010/*
website/kerst2011/*
website/kerst2012/*
website/kerst2013/*
website/mcwleidoscope/*
website/creative-agency/*
website/controlportal/*
